<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
            http://www.springframework.org/schema/mvc 
            http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd 
           http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context-4.0.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
           http://www.springframework.org/schema/util
		   http://www.springframework.org/schema/util/spring-util-3.2.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
    
    <!-- 启动注解支持 -->  
    <mvc:annotation-driven />
	<bean name="springContextUtil" class="com.ding.biz.utils.SpringContextUtil" scope="singleton"></bean>
	
	
<!--     <import resource="classpath*:spring/ding-mgr-context.xml"/>
 --><!--     <import resource="classpath*:spring/ding-consumer-dubbo.xml"/>
 -->    <!-- 扫描controller（controller层注入） -->
    <context:component-scan base-package="com.ding.web.home.**;com.ding.web.common.controller.**"/>
	
	<context:property-placeholder location="classpath:config/config.properties" ignore-unresolvable="true"/>
	
	
		<!-- <context:component-scan base-package="com.dinglh.*.*.tag;com.ding.*.tag" /> -->
	
	
	<!-- 常用Host配置 -->
    <util:map id="viewAttributeConstants">
        <entry key="basePath" value="http://localhost:8080"/>
    </util:map>
	
	<bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape"/>
	<bean id="api" class="com.ding.web.freemarker.tags.APITemplateModel"/>
	
	
	   <!-- freemarker的配置 -->
    <bean id="freemarkerConfig"
        class="com.ding.web.freemarker.extend.FreeMarkerConfigExtend">
        <property name="templateLoaderPath" value="file://${ding.freemarker.templates}" />
        <property name="defaultEncoding" value="utf-8" />
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">10</prop>
                <prop key="locale">zh_CN</prop>
                <prop key="datetime_format">yyyy-MM-dd</prop><!-- 时间格式化 -->
                <prop key="date_format">yyyy-MM-dd</prop>
                <prop key="number_format">#.##</prop>
					<!-- 自动装载，引入Freemarker，用于Freemarker Macro引入 
					-->
				<prop key="auto_import">
					/home/views/ftl/common/config/top.ftl as _top,/home/views/ftl/common/config/left.ftl as _left
				</prop>
            </props>
        </property>
        <property name="freemarkerVariables">
			<map>
				<entry key="xml_escape" value-ref="fmXmlEscape" />
				<entry key="api" value-ref="api"/>
			</map>
		</property>

    </bean>
	
    <!-- 视图配置 在list中按照配置的先后顺序 -->
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="ignoreAcceptHeader" value="true" />
        <property name="defaultContentType" value="text/html" />
        <property name="mediaTypes">
            <map>
                <entry key="json" value="application/json" />
                <entry key="xls" value="application/vnd.ms-excel" />
                <entry key="xlsx" value="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                <entry key="pdf" value="application/pdf" />
            </map>
        </property>
        <property name="favorParameter" value="false" />
        <property name="viewResolvers">
            <list>
                <!-- 配置freeMarker视图解析器 -->
                <bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
                    <property name="cache" value="true" />
                    <property name="prefix" value="/home/views/ftl/" /><!-- 上面已经配了，这里就不用配啦 -->
                    <property name="suffix" value=".ftl" />
                    <property name="contentType" value="text/html;charset=UTF-8" />
				   <property name="viewClass" value="com.ding.web.freemarker.extend.FreeMarkerViewExtend" />
                    <property name="allowSessionOverride" value="true" />
                    <property name="allowRequestOverride" value="true" />
                    <property name="exposeSpringMacroHelpers" value="false" />
                    <property name="exposeRequestAttributes" value="true" />
                    <property name="exposeSessionAttributes" value="true" />
                    <property name="requestContextAttribute" value="request" />
                    <property name="attributesMap" ref="viewAttributeConstants"/>
                </bean>
                <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
                    <property name="prefix" value="/jsp/" />
                    <property name="suffix" value=".jsp" />
                </bean>
            </list>
        </property>
    </bean>
	
    <!-- jsp 配置静态资源 将静态资源以链接的形式提供给web访问.
    	http://localhost:8080/js/common/jquery/jquery1.8.3.min.js
    	映射到
    		/WEB-INF/static/js/common/jquery/jquery1.8.3.min.js
    -->    
    <mvc:resources location="/WEB-INF/static/js/" mapping="/js/**"/>
    <mvc:resources location="/WEB-INF/static/css/" mapping="/css/**"/>

    <!-- 视图解析器 
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>-->
</beans>   